<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>

  </ion-header-bar>
  <ion-content>

    <div class="row row-center">
      <div class="col">
        <button class="button button-positive" ng-click="doLoginVK()">Login with VK</button>
      </div>
      <div class="col">
        <button class="button button-positive" ng-click="doLoginMailru()">Login with Mail.ru</button>
      </div>
    </div>


  </ion-content>
</ion-modal-view>
